
.board {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.line-break {
  width: 100%;
}

.settlement {
  border: 1px solid #5a5a5a;
  width: 25px;
  height: 25px;
}

.road {
  border: 1px solid;
  width: 25px;
  height: 5px;
  z-index: 999;
}

.road:hover {
  background: black;
  z-index: 999;
}

.roadOn {
  background: aquamarine;
}

.side-1 {
  transform: rotate(153deg);
  margin: -18px 13px;
  position:absolute;
}

.side-2 {
  transform: rotate(30deg);
  margin: -17px 63px;
  position:absolute;
}

.side-3 {
  transform: rotate(90deg);
  margin: 21px 90px;
  position: absolute;
}

.side-4 {
  transform: rotate(151deg);
  margin: 64px 68px;
  position: absolute;
}

.side-5 {
  transform: rotate(207deg);
  margin: 64px 0px;
  border-color: #2b2b2b;
  position: absolute;
}

.side-6 {
  transform: rotate(90deg);
  margin: 21px -17px;
  border-color: #2b2b2b;
  position: absolute;
}

.hexagon {
  width: 100px;
  height: 55px;
  background: #4BCEFF;
  position: relative;
  margin: 20px 4px;
  cursor: pointer;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #4bceff;
}

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #4BCEFF;
}
