<h3>Player ID: {{playerID}}</h3>

<!--Row 1-->
<div class="board">
  <div *ngFor="let tile of tilesRow1; let index = index" (click)="clickTile(tile)">
    <div class="hexagon">
      {{tile.diceRoll}}
      {{tile.resource}}
      <div>
      </div>
    </div>
  </div>
</div>

<!--Row 2-->
<div class="board">
  <div *ngFor="let tile of tilesRow2; let index = index" (click)="clickTile(tile)">
    <div class="hexagon">
      {{tile.diceRoll}}
      {{tile.resource}}
    </div>
  </div>
</div>

<!--Row 3-->
<div class="board">
  <div *ngFor="let tile of tilesRow3; let index = index" (click)="clickTile(tile)">
    <div class="hexagon">
      {{tile.diceRoll}}
      {{tile.resource}}
    </div>
  </div>
</div>

<!--Row 4-->
<div class="board">
  <div *ngFor="let tile of tilesRow4; let index = index" (click)="clickTile(tile)">
    <div class="hexagon">
      {{tile.diceRoll}}
      {{tile.resource}}
    </div>
  </div>
</div>

<!--Row 5-->
<div class="board">
  <div *ngFor="let tile of tilesRow5; let index = index" (click)="clickTile(tile)">
    <div class="hexagon">
      {{tile.diceRoll}}
      {{tile.resource}}
    </div>
  </div>
</div>


